{% extends "WebApp/index.html" %}

{% load static %}


{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text-homeimage">
                        <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s" >
                            About Us
                        </div>
                        <div style="font-size: 30px; color: #ffffffde; background-color: rgba(0, 0, 0, 0.384); border-radius: 25px; border: 1px solid #05cdfd">
                            {% for i in about1 %}
                            {{i.about}}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

