{% extends "WebApp/index.html" %}

{% load static %}


{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text-homeimage-new">
                        <div style="font-size: 20px; color: #ffffffde; background-color: rgba(0, 0, 0, 0.384); border-radius: 25px; border: 1px solid #05cdfd">
                            <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s" >
                                <h4>Actualizar: {{object.name}}</h4>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="center"  style=" margin-left: 15px; margin-right: 15px; font-size:15px; color: #8b3131; background-color: rgba(0, 0, 0, 0.384); border-radius: 25px; border: 1px solid #05cdfd">
            <form action="" method="POST">{% csrf_token %}
                <table align="center">
                    <div style="margin-top: 10px; margin-bottom: 10px; background-color: rgba(0, 0, 0, 0.452);"">
                        {{ form.as_p }}
                    </div>
                </table>
                <input style="background-color: black; margin-top: 10px; margin-bottom: 10px;" type="submit" value="Actualizar">
            </form>
            <div>
                <b><a style="font-size: 10; color: rgb(152, 179, 209);" href="{% url 'options' %}">VOLVER</a></b>
            </div>
        </div>
        
        
{% endblock %}