{% extends "WebApp/index.html" %}

{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="text-homeimage-new">
                <div style="font-size: 20px; color: #ffffffde; background-color: rgba(0, 0, 0, 0.384); border-radius: 25px; border: 1px solid #05cdfd">
                    <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s" >
                        <h4>Producto: <i>{{object.name}}</i></h4>                       
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
<div align="center"  style=" margin-left: 15px; margin-right: 15px; font-size:15px; color: #ffffff; background-color: rgba(0, 0, 0, 0.384); border-radius: 25px; border: 1px solid #05cdfd">
    <ul>
        <p>Código: <i>{{object.numero}}</i></p>
        <p>Versión: <i>{{object.version}}</i></p>
        <p>Historia: <i>{{object.documentacion}}</i></p>
        <p>Licencia: <i>{{object.licencia}}</i></p>
        <p>Fecha: <i>{{object.fecha}}</i></p>
        <p>Precio: <i>{{object.tamaño}}</i></p>
        <img width="200" src="{{object.imagen}}" alt="">
        <p>Url: <i>{{object.imagen}}</i></p>
    </ul>
    <b><a style="font-size: 10; color: rgb(152, 179, 209);" href="{% url 'options' %}">VOLVER</a></b>
</div>

{% endblock %}